@font-face {
    font-family: "Nunito";
    font-weight: 500;
    src: local("Nunito-Medium"),
        url("../assets/Nunito-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Nunito";
    font-weight: 700;
    src: local("Nunito-Bold"),
        url("../assets/Nunito-Bold.ttf") format("truetype");
}