body {
   font-family: 'VT323', monospace;
   background-color: black;
   color: white;
}
.text-shadow {
   text-shadow: 3px 3px 2px #306040;
}
.header {
   padding: 2rem;
   text-align: center;
}
.header__logo {
   width: 50%;
   min-width: 28rem;
   max-width: 70rem;
}
.header__title {
   font-size: 3.5rem;
   margin-top: -1.5rem;
}
.header__score {
   font-size: 2.5rem;
   margin-top: 1.5rem;
}
.cards {
   padding: 3rem;
   display: grid;
   max-width: 1000px;
   margin: 0 auto;
   gap: 5rem;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   grid-auto-rows: 32rem;
}
.cards__card {
   background-color: white;
   background-position: center;
   background-size: 90%;
   background-repeat: no-repeat;;
   padding: 1rem;
   border-width: 2rem;
   border-color: #f9bd28;
   border-style: groove;
   cursor: pointer;
   position: relative;
}
.cards__card:hover {
   animation-name:            funnyBorder;
   animation-duration:        300ms;
   animation-timing-function:  steps(2, end);
   animation-iteration-count: infinite;
   animation-direction:       normal;
}
@keyframes funnyBorder {
   from  {border-color: #ec0b3c;}
   to  {border-color:#e9a700;}
}
.card__title-container {
   background-color: black;
   color: white;
   width: 100%;
   padding: .5rem 0 ;
   position: absolute;
   left: 0;
   overflow: hidden;
}
.card__title-container p {
   text-transform: uppercase;
   font-size: 2rem;
   letter-spacing: 1px;
   display: inline-block;
   position: relative;
   animation-name:            moveText;
   animation-duration:       3000ms;
   animation-timing-function:  linear;
   animation-iteration-count: infinite;
   animation-direction:       normal;
}
.card__title-container--normal {
   bottom: 0;
}
.card__title-container--reverse {
   top: 0;
}
.card__title-container--reverse p {
   animation-name:            moveText;
   animation-duration:       3000ms;
   animation-timing-function:  linear;
   animation-iteration-count: infinite;
   animation-direction:       reverse;
} 
@keyframes moveText {
   0% {
      left: -30%;
   }
   100%  {
      left: 100%;
   }
}